
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Scrapper</h1>
</div>

<div class=" input-group " style="margin-top:100px;">
    <input type="text" class="form-control" id="txtBusca" placeholder="Digitar Url..." aria-describedby="button-addon" >
    <div class="input-group-append" id="button-addon">
        <button class="btn btn-outline-secondary botao" id="BtnBusca"  type="button"><i class="fa fa-search"></i></button>
    </div>
</div>

<div style="margin-top:50px;" class="row" id="divResultado" >
    <div class="col-md-8" id="containerImagens">
        
    </div>
    <div class="col-md-4">
        <p>
            <table class="table table-striped table-hover table-bordered" id="tabelaPalavras">
                <tbody>
                    <tr>
                        
                    </tr>
                    <tr>
                       
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>



